<div class="pull-left">
<div class="button-wrapper">
  <a [routerLink] = "['add']">
    <button  class="btn btn-success">Novo Paciente</button>
  </a>
</div>
</div>
<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Endereco</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>CPF</th>
      <th>Acoes</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of pacientes | async">
      <td>{{ item.nome }}</td>
      <td>{{ item.telefone }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.endereco }}</td>
      <td>{{ item.cidade }}</td>
      <td>{{ item.estado }}</td>
      <td>{{ item.cpf }}</td>
      <td>
        <a [routerLink] = "['edit',item.$key]">
          <button  class="btn btn-xs btn-warning btn-icon"><i class="ion-edit"></i></button>
        </a>
          <button (click)="deleteItem(item.$key)" class="btn btn-xs btn-danger btn-icon">
            <i class="ion-close-round"></i>
          </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ul>
